body,
header,
button,
input[type="text"],
input[type="number"],
.select-container,
select {
    color: #18b5ee;
}
svg *:not(text) {
    stroke: #18b5ee;
}
text {
    fill: #18b5ee;
}
#gyro {
    border-color: #18b5ee;
}