* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: monospace;
    font-size: 1.2em;
    -webkit-user-select: none;
    user-select: none;
}
header,
article,
aside,
#timer {
    padding: 10px;
    position: fixed;
    overflow: scroll;
}
#main {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: black;
    fill: white;
    stroke-width: 2;
    transform-origin: center;
}
#gyro {
    width: 175px;
    height: 175px;
    border: solid 2px black;
    border-radius: 50%;
    z-index: 50;
    margin-left: 30px;
    margin-top: 15px;
}
#gyroArm {
    transform-origin: bottom;
}
#robotDiagram {
    position: absolute;
    bottom: 1px;
    right: 1vw;
}
#robotArm {
    transform-origin: right;
}
header {
    width: 25vw;
    height: 20vh;
    top: 0;
    left: 25vw;
    color: black;
}
.camera {
    position: fixed;
    z-index: 0;
    top: 20vh;
    left: 0;
    width: 50vw;
    overflow: hidden;
    height: 80vh;
    background: url(img/static.gif);
    padding: 0;
}
.camera img {
    width: 50vw;
    height: 80vh;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
#timer {
    padding: .6vh 1vw;
    font-family: 'DS-Digital', monospace;
    display: block;
    height: 20vh;
    width: 25vw;
    top: 0;
    left: 0;
    font-size: 8.5vmax;
    line-height: .78;
    -webkit-user-select: none;
    user-select: none;
}
#functionButtons img {
    width: 150px;
    height: 150px;
    border: solid 4px black;
}
#functionButtons img.active {
    border-color: #ff5111;
}
#encoder {
    margin-top: 50px;
    font-size: .8em;
}
#encoderSlider {
    width: 100%;
}
.encoderLimitSwitch {
    color: red;
}