:root {
  --primary: #ff6619;
  --secondary: #ff2c19;
  --tertiary: #ff9f19;
  --background: #011627;
  --white: #fcfcfc;
}

body {
  color: var(--background);
}

#timer {
  font-size: 5em;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
