:root {
  --primary: #ff6619;
  --secondary: #ff2c19;
  --tertiary: #ff9f19;
  --background: #011627;
  --white: #fcfcfc;
  --red-alliance: #ed1c24;
  --blue-alliance: #0066b3;
}

body {
  color: var(--background);
}

.dashboard {
  padding: 20px;
}

#timer {
  font-size: 5em;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.driver-station {
  height: 200px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--background);
  color: var(--white);
  text-align: center;
  line-height: 6em;
  font-size: 2em;
}

#camera {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 640px;
  min-height: 480px;
  background: url(assets/limelight.svg), url(https://10.7.3.11:5800);
  box-shadow: 0 0 2px 1px var(--background), 0 0 8px 1px #7bff00;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 640px 480px;
  background-position: center;
}
