* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(255, 255, 255);
    overflow: hidden;
    background: rgb(34, 34, 34);
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: rgb(255, 255, 255);
    background: rgb(68, 68, 68);
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    height: 30px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: rgb(34, 34, 34);
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 30vw;
    top: 0;
    left: 0;
    font-size: 20vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: rgb(255, 255, 255);
}
#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: rgb(255, 255, 255);
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#gyro {
    width: 175px;
    height: 175px;
    margin-left: 30px;
    margin-top: 15px;
}
#gyro-arm {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}
#robot-diagram {
    position: absolute;
    bottom: 1px;
    right: 1vw;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
}
aside > * {
    margin-bottom: 20px;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 204, 204);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: rgb(0, 0, 0);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 0, 0);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
